# Default ignored files
/../../Ass_2_datamining /.idea/shelf/
/../../Ass_2_datamining /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Ass_2_datamining /.idea/httpRequests/
# Datasource local storage ignored files
/../../Ass_2_datamining /.idea/dataSources/
/../../Ass_2_datamining /.idea/dataSources.local.xml
